<h3>Issued Books</h3>
<table class="table table-hover  ">
    <tr class="bg-success text-white">
        <td>UserID</td>
        <td>BookNo</td>
        <td>NAME</td>
        <td>IssuedDate</td>
        <td>ReturnDate</td>
       
        <td>OPERATION</td>
    </tr>
    <tr *ngFor="let b of books">
        <td>{{b.id}}</td>
        <td>{{b.no}}</td>
        <td>{{b.book_name}}</td>
        <td>{{b.issueddate}}</td>
        <td>{{b.returndate}}</td>
        
        <td>
            <button class="btn btn-danger" (click)="deleteBook(b.id)">DELETE</button> |
            <button class="btn btn-info" (click)="editBook(b.id)">EDIT</button>
        </td>
    </tr>
</table>
<span class="text-success">{{message}}</span>

