<h3>Register Student</h3>
<form (ngSubmit)='updateBook()'>
    <!-- row#0 -->
    <div class="row">
        <div class="col-2">
            <label>UserID</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="book.id" name="id" class="form-control" readonly/>
        </div>
    </div>
    <!-- row#1 -->
    <div class="row">
        <div class="col-2">
            <label>BookNo</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="book.no" name="no" class="form-control"readonly/>
        </div>
    </div>

    <!-- row#2 -->
    <div class="row">
        <div class="col-2">
            <label>BookName</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="book.book_name" name="name" class="form-control"/>
        </div>
    </div>

    <!-- row#3 -->
    <div class="row">
        <div class="col-2">
            <label>IssuedDate</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="book.issueddate" name="issueddate" class="form-control"/>
        </div>
    </div>

    <!-- row#4 -->
    <div class="row">
        <div class="col-2">
            <label>ReturnDate</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="book.returndate" name="returndate" class="form-control"/>
        </div>
    </div>

    
    <input type="submit" value="Update Book" class="btn btn-success"/>
</form>